body {
  font-family: 'Helvetica', Arial, sans-serif;
}

header {
  position: relative;
  padding-top: 22px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  margin-top: 40px;
  font-size: 40px;
}

header h2 {
  font-size: 26px;
  color: #777777;
  font-weight: normal;
}

#logo {
  height: 52px;
  width: 146px;
  margin-top: 20px;
}

header nav {
  position: absolute;
  top: 44px;
  right: 10px;
}

header nav ul {
  padding: 0;
  list-style: none;
}

header nav li {
  display: inline-block;
  height: 10px;
}

header nav a {
  padding: 20px;
  text-decoration: none;
  color: #777777;

}

header nav .selected a {
  color: black;
}

.project {
  padding: 40px;
  background-image: url('images/section-bg.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.project h1 {
  font-size: 32px;
  color: black;
}

.project h2 {
  font-size: 20px;
  color: #777777;
}

.project > div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1000px;
}
.caption {
  float; left;
}
.project .info {
  width: 260px;
  float: left;
}
.project .project-pics {
  float: right;
}
.caption{
  position: relative;
  bottom: 55px;
  left: 20px;
  background-color: #232527;
  width: 118px;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
  color: white;
  border-radius: 4px;


}
.project footer {
  clear: both;
}

footer div a {
  text-decoration: none;
  color: #b491c8;
  font-family: "Helvetica";
  padding: 20px;
}
footer  li {
  display: inline-block;
  float: right;
}
footer span {
  color: #6e567a;
}
footer p {
  color: #b491c8;
  width: 400px;
}
footer {
  background-color: #e4d7eb;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 40px;
  margin-top: 60px;
}
.slideshow {
  width: 1000px;
  margin-top: 120px;
}
div > ul {
  margin-bottom: 20px;
}
header h2 {
  width: 550px;
}
#footer-nav {
  display: inline-block;
  float: right;
  position: relative;
  bottom: 57px;
}